.room {
    width: 100%;
    display: flex;
    flex-direction:  row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.roomMain {
    width: calc(100vw - 300px);
    min-height: 100vh;
    border-right: 1px solid var(--sec);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.roomSideBar {
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

iframe {
    outline: none;
    border: none;
    height: calc((100vw - 300px)/1.7);
    margin: auto 0;
}

.copy {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    background-color: var(--sec);
    margin-bottom: 12px;
}

.copy h5 {
    margin-bottom: 12px;
}

.copy div span{
    user-select: text;
    font-size: 14px;
}

.copy button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    padding-left: 12px;
}

.optIcon {
    width: 14px;
    height: 14px;
}

.copy > span {
    cursor: pointer;
    font-size: 14px;
    color: var(--secCol);
}

.header {
    width: 100%;
    padding: 12px 0;
    height: 64px;
    border-top: 1px solid var(--sec);
    border-bottom: 1px solid var(--sec);
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.headerImg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.headerName {
    padding: 12px;
    font-weight: 700;
    padding-top: 16px;
    font-family: 'Spartan', sans-serif;
}

.chatting {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--sec);
    position: relative;
    padding: 12px;
    padding-bottom: 60px;
    max-height: 63vh;
}

.chatTextArea {
    width: calc(100% - 12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

#sendChat {
    width: 88%;
    background-color: var(--ter);
    border: none;
    padding: 12px;
    outline: none;
    color: var(--color);
    border-radius: 8px;
    resize: none;
}

#sendChat::-webkit-scrollbar {
    width: 3px;
}
#sendChat::-webkit-scrollbar-track {
    background: transparent;
}
#sendChat::-webkit-scrollbar-thumb {
    background-color: var(--secCol);
    border-radius: 20px;
    border: none;
}

.messages {
    padding-right: 8px;
    max-height: 100%;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    width: 3px;
}
.messages::-webkit-scrollbar-track {
    background: transparent;
}
.messages::-webkit-scrollbar-thumb {
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
}

.sndBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .room {
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    .roomMain {
        width: 100%;
        border: none;
        min-height: 30%;
        height: 40%;
    }
    iframe {
        height: 400px;
    }
    .roomSideBar {
        width: 100%;
        height: 60%;
    }
    .chatting {
        min-height: 24vh;
    }
    .header {
        display: none;
    }
    .messages {
        max-height: 30vh;
    }
}